<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.event.admin.first_name %> !</h1>
    <p>
      Un nouveau participant s'est inscrit à ton événement : <%= @attendance.event.title %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>